body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
     margin: 0; padding: 0; font-family:"微软雅黑"
}

html {
	
}

/*新的网页头*/
.navlink{
height:64px;
line-height:60px;
font-size:15px;
vertical-align:middle;
text-align:center;
}

/*新的按钮颜色,统一的大小的按钮*/
.unibutton{
    
    color:aliceblue;
    font-size: 14px;
    width:80px;
    height:25px;
    line-height: 25px;
    padding: 0 5px 0 5px;
    
}

.quitbutton{

    color:white;
    font-size: 14px;
    font-weight: bold;
    width:60px;
    height:25px;
    line-height: 25px;
    padding: 0 5px 0 5px;
    
}

/*小的圆形按钮,因为btn-floating*/
.mysmallbut{
    width:25px;
    height:25px;
    line-height: 25px;
}
/**/


.docinfobox{
    padding:2px; 
}

.patientifo{
    margin-top: 10px;
}

.patinfobox{
    padding:1px; 
    display:block;
    width:88%;
    margin-left: 7%;
    
}
p.doctorinfo{

}

.infolabel{
    margin:0px;
    text-align: right;
}
.showcontents{
    margin-top:0px;
    text-align: center;
}
.patlabel{
    margin:0px;
    text-align: right;
}
.patcontens{
    margin-top:0px;
    text-align: center;
}
.zhongjian{
    margin-top:8px;
}
.inf-3{
    letter-spacing:8px;
    font-weight:bold;
}
.inf-2{
    letter-spacing:24px;
    font-weight:bold;
}
.inf-else{
    letter-spacing:8px;
}
.inf-wide{
    letter-spacing:16px;

}
.inf-small{
    letter-spacing:2px;
}


.bin-list{
    width:99%;
    height:90%;
    margin:10px;

}

a{ text-decoration:none;}
ol, ul { list-style: none; }

.subNavBox{width:25%;border:solid 1px #e5e3da;margin:10px;}

.subNav{border-bottom:solid 1px #e5e3da;cursor:pointer;text-indent:10px;font-weight:bold;font-size:14px;color:#333;line-height:28px;padding-left:0px;}

.subNav:hover{color:#0767c8;}

.currentDd{color:#0767c8;}

.currentDt{font-size:15px;}

.navContent{display: none;border-bottom:solid 1px #e5e3da;padding:0px;margin:0px;}

.navContent li a{display:block;width:100%;height:24px;text-align:center;font-size:14px;letter-spacing:2px;line-height:28px;color:#333}

.navContent li a:hover{color:#fff;background-color:#0767c8;}

.listitem{

}

table.tdcentered thead tr th,tbody tr td{
    padding: 2px;

}


th.thcenter{
    letter-spacing:2px;
    height:40px;
    padding: 0px;
    border:none;
}

td.tdlabel{
    text-align:left;
    font-weight:bold;
    letter-spacing:2px;
    width:55%;
    border:none;
}
td.tdcontents{
    text-align:left;
    letter-spacing:2px;
    border:none;
}

th.centerth{
    text-align:center;
    letter-spacing:1px;
}
td.dgcontents{
    
    text-align:center;
    letter-spacing:1px;
    width:15%;
    border:none;
}
td.dgtxt{
    font-size: 15px;
    text-align:left;
    letter-spacing:1px;
    width:45%;
    border:none;
}
td.dgrate{
    text-align:center;
    letter-spacing:1px;
    width:23%;
    border:none;
}
td.dgcheck{
    text-align:center;
    border:none;
    width:16%;
}

.patdetails{
    
}

/*文字居中的按钮*/
.dgbutton{
font-size:14px;
 text-align:center;
 padding:0px;
 vertical-align:text-top ;
 line-height:25px;
 margin:0px; 
 Height:24px;
 Width:80px;
}

.evibutton{
 font-weight: bold;
 font-size:12px;
 text-align:center;
 padding:0px;
 vertical-align:text-top ;
 line-height:22px;
 margin:0px; 
 Height:23px;
 Width:32%;
 
}

.emrbutton{
 font-size:12px;
 text-align:center;
 padding:0px;
 vertical-align:text-top ;
 line-height:22px;
 margin:0px; 
 Height:23px;
 Width:80px;
}

.mycard {
   
    background-color:lightyellow;
}

.linetr{
    border-bottom: 0.5px solid #0767c8;
}

.mine-card-action {   
    padding:4px 24px;
    
}

#bluelink{
    margin: 0px;
    font-weight:bold;
    color: #3f51b5;
    
}
.mine-card-action a#bluelink:hover{
    background-color:#0767c8;
   color:white;
}

.dglistitem{
    padding:4px;
    font-size: 16px;
}
.dgitemspan{
    text-align: center;
    width: 45%;
   
}

.checkthead{
    padding: 4px;
}

.evitable1{
height: 295px;
overflow: auto;
width:88%;
margin-left:5%;
margin-right:15%;
}

.evitable2{
width:78%;
margin-left:10%;
margin-right:10%;
float:left;
height:170px;
}

.chooseitems{
    height: 88px;
    overflow-y: auto;
    overflow-x: hidden;
}

.checkrecommend{
    margin-top:2px;
}

/*带边框的不带边框的table*/
table.hasborder td{
    border:1px solid #3f51b5;
    
}
table.hasborder th{
    border:1px solid #3f51b5;
}


table.hasnoborder td{
    border:none;
}
table.hasnoborder th{
    border:none;
}


.itemforchoose{
    width:100px;
    margin-left:4px;
}

.additem{
    height: 22px;
    width: 22px;
    min-width:0;
    color: #0767c8;
    
    text-align:center;
    font-size: 22px;
    line-height:21px;
    padding:0px;
    margin:0px; 
    vertical-align:text-top ;

}

.chooseall{
     font-size:16px;
 text-align:center;
 padding:0px;
 vertical-align:text-top ;
 line-height:22px;
 margin-left:10px; 
 Height:21px;
 Width:50px;
 color: #0767c8;
}

.admitbutton{
 font-size:16px;
 text-align:center;
 padding:0px;
 vertical-align:text-top ;
 line-height:22px;
 margin-left:10px; 
 Height:21px;
 Width:50px;
 color: #0767c8;
}


.basictext{

}

.reclist{
    padding: 5px;
}