<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
        <title>病人信息-CancerID</title>
        <link href="{{ static_url("css/materialize.min.css")}}" rel="stylesheet" type="text/css"/>
        <link href="{{ static_url("css/mine.css")}}" rel="stylesheet" type="text/css" >
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>
<nav>
  <div class="nav-wrapper indigo">
    <a href="/" class="brand-logo">CancerID</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="">病人信息</a></li>
      <li><a href="">医学数据库</a></li>
      <li><a href="">疾病百科</a></li>
           {% if current_user %}
      <li><a href="">医生:{{user["name"]}}</a></li>
           {% end %}

      <li><a href="/logout">退出</a></li>
    </ul>
  </div>
</nav>
<div class="divider"></div>
  <div class="section">

      <div class="row">
        <!-- 左边的小列内容 -->
        <div class="col s12 m2 l2">
          <!-- 病人基本信息 -->
          <div id="infobox" style="margin:0px;display:block; height:180px;border:2px solid #3f51b5;">
          <div>
              <h5 class="indigo white-text center-align">病人信息</h5>
          </div>
            <div class="basictext">

              <div class="patinfobox center-align">

                  <table class="bordered tdcentered" style="margin-top:10px;">
                    {% if info %}
                    <tbody>
                      <tr>

                        <td class="tdlabel">编号:</td>
                        <td class="tdcontents" name ="p_id">{{escape(info['p_id'])}}</td>
                      </tr>
                      <tr>
                        <td class="tdlabel">姓名:</td>
                        <td class="tdcontents" id="patname">{{escape(info['name'])}}</td>
                      </tr>
                      <tr>
                        <td class="tdlabel">性别:</td>
                        <td class="tdcontents">{{escape(info['gender'])}}</td>            
                      </tr>
                      
                    </tbody>
                    {% end %}
                  </table>

               </div>

              <div class="section">
                <div class="center-align container">
                  <a href="/records/{{escape(info['p_id'])}}">
                  <button class="btn-flat yellow waves-effect waves-light summary" type="submit" name="action">病历查看
                    <i class="material-icons right">search</i>
                  </button>
                  </a>
                </div>
              </div>

            </div>
          </div>


         <!-- 诊断结果box -->
         <div id="diagnosebox" style="margin-top:10px;display:block; height:100%;border:2px solid #3f51b5;">

           <div id="diagtitle" style="height:27px;background-color:#3f51b5;font-size:18px;text-align:center;color:aliceblue">
              <label style="font-size:18px;color:aliceblue">
              <b>诊断结果</b>
              </label>
           </div>
          
          <div id="tablediv container" style="clear:both;width:100%;height:100%;margin:0px;overflow-y:auto">
            <table class="noborder" style="clear:both;width:100%;">

                <thead>
                <tr class="dgtr">
                  <th>ICD9代码</th>
                  <th>患病概率</th>
                  <th>对比</th>
                </tr>
                </thead>

              <tbody id="dgtable">
                {% if diag %}
                 {% for result in diag[:5] %}
                <tr class="dgtr">
                  <td class="dgcontents">{{escape(result["icd_9"])}}</td>
                  <td class="dgrate">{{result["prob"]}}</td>
                  <td class="dgcheck">
                    <input type="checkbox" class="filled-in onedisease" name="selector" id={{result["icd_9"]}} >
                    <label for={{result["icd_9"]}}></label>
                  </td>
                </tr>
                  {% end %}

                    {% for result in diag[5:] %}
                <tr class="dgtr" style="display:none">
                  <td class="dgcontents">{{escape(result["icd_9"])}}</td>
                  <td class="dgrate">{{result["prob"]}}</td>
                  <td class="dgcheck">
                    <input type="checkbox" class="filled-in onedisease" name="selector" id={{result["icd_9"]}} >
                    <label for={{result["icd_9"]}}></label>
                  </td>
                </tr>
                    {% end %}

                {% end %}
              </tbody>
            </table>        
          </div>

              <div class="section">
                <div class="center-align container">
                  <button class="btn-flat yellow waves-effect waves-light more" type="submit" name="action">更多
                  </button>
                </div>
              </div>
<!--
          <div style="text-align:center;height:25px;">
            <button  class="mdl-button mdl-js-button mdl-button--raised dgbutton">
              查看更多
            </button>
          </div>   -->

         </div>

        </div>

         <!-- 9列的页面主内容 -->
        <div id="mostpage" class="row col s12 m10 l10">

          <!-- 某一诊断的具体描述 -->
          <div  id="firstpage" class="col s12 m12 l12">
           <ul class="collection with-header">
          <li class="collection-header row">
          <h5 class="thedisease col s4 m4 l4">血管瘤</h5>
          <a class="col s1 offset-s6 m1 offset-m6 l1 offset-l6 waves-effect waves-light btn indigo">疾病描述</a>
          <a class="col s1 m1 l1 waves-effect waves-light btn indigo">疾病百科</a>
          </li>
        <li class="collection-item row">
          <div class="checktable col s12 m12 l12 row">
          <h5 class="col s12 m12 l12">诊断依据</h5>
          <div class="divider col s12 m12 l12"></div>
          <div class="evitable1 col offset-l1 l4" >

                      <div id="checklabel" style="text-align:center;">
                        <label style="font-size:15px;color:#3f51b5;font-weight:bold;">检查指标</label>
                      </div>
                      <div id="detailtable1" style="margin-top:4px;">
                        <table class="centered" id="hasborder" style="width:100%;">
                          <thead>
                            <tr>
                                <th class="checkthead">指标</th>
                                <th class="checkthead">数值</th>
                                <th class="checkthead">参考值</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>癌胚抗原</td>
                              <td>20mg/ml</td>
                              <td>&nbsp;</td>
                            </tr>
                            
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div class="evitable2 col offset-l2 l4" >
                      <div id="checklabel" style="text-align:center;">
                        <label style="font-size:15px;color:#3f51b5;font-weight:bold;">历史病历</label>
                      </div>
                      <div id="detailtable2" style="margin-top:4px;">
                        <table class="centered" id="hasborder" style="width:99%;">
                          <thead>
                            <tr>
                                <th class="checkthead">类型</th>
                                <th class="checkthead">详细数值</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>家族病史</td>
                              <td>肝炎</td>
                              
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
          </div>
          </li>
        <li class="collection-item row">
          <div class="col s12 m12 l12 row">
          <h5 class="col s12 m12 l12">检查项目推荐
            <i class="small material-icons">info_outline</i>
                <input type="checkbox" class="filled-in chooseall" id="testall" >
                <label for="testall">全选</label>
            </h5>

          <div class="divider col s12 m12 l12"></div>
                    <div id="chooseitems" style="margin-top:5px;margin-bottom:5px;">
                      <div style="display: none">{{ count = 0 }}</div>

                    </div>
                  <div class="row" style="margin-top:5px;margin-bottom:5px;height:30px;">
                     <!--  按钮后面要改成搜索框，根据用户输入自动补全内容（从传入的数据中匹配），然后点击添加按钮后添加新的复选框-->

                    <form class="col s12">
                    <div class="input-field col s6">

                      <a class="prefix btn-floating btn-small waves-effect waves-light additem">
                      <i class="material-icons">add</i>
                      </a>
                        <!--<i class=" material-icons"></i></a>-->
                      <input id="inputitem" type="text" class="validate">
                      <label for="inputitem">在这里输入检查项目</label>
                    </div>
                      <!-- 确认后将选中的复选框中说明文字传给服务器 -->
                      <div> 

                      <button id="admitcheck" class="btn-flat yellow waves-effect waves-light secondary-content admitbutton" type="submit" name="action">确认检查
                        <i class="material-icons right">send</i>
                      </button>
                      </div>
                    </div>
            </div>
        </li>
          </ul> 
                </div>

          <div  id="secondpage" class="col s0 m0 l0" style="height:450px;float:left;border:2px solid #3f51b5">
            
          </div>
          
        </div>
     
      </div>
  </div>
  

    <script src="{{ static_url("js/jquery-1.9.0.min.js")}}"></script>
    <script src="{{ static_url("js/material.min.js") }}"></script>
    <script src="{{ static_url("js/mine.js")}}"></script>

</body>
</html>
