<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
        <title>{{ escape(handler.settings["title"])}}</title> 
        <link href="{{ static_url("css/material.min.css") }}" rel="stylesheet" type="text/css" />
        <script type="text/javascript" href="{{ static_url("js/material.min.js") }}"></script>
        <link href="//cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet">
  </head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <!-- Top row, always visible -->
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title"><big>CancerID</big></span>
      <div class="mdl-layout-spacer"></div>
      <div align="right">
           {% if current_user %}
       <span>当前用户:</span>
              {% if name %} 
                  <span>{{name}}</span>
              {% end %}
       <span>&nbsp;&nbsp;&nbsp;</span>
               {% if number %} 
                  <span>病人人数:{{number}}</span>
              {% end %}
       <span>&nbsp;&nbsp;&nbsp;</span>
           {% end %}
       <button id="userinf" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
          <a href="/logout">退出</a> 
        </button>
        
      </div>
    </div>
    <!-- Bottom row, not visible on scroll -->
    
      
      <!-- Navigation -->
      <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
        <span style="width:400px;"></span>
        <div align="left">
        <a href="#scroll-tab-1" class="mdl-layout__tab is-active">病人信息</a>
        <a href="#scroll-tab-2" class="mdl-layout__tab">医学数据库</a>
        <a href="#scroll-tab-3" class="mdl-layout__tab">疾病百科</a>
      
        
        </div>
      </div>
  
  </header>
 
  
  <main class="mdl-layout__content">
    <div class="page-content"><!-- Your content goes here -->

    </div>
  </main>
  
</div>

</body>
</html>
